<div class="l-container">
  <%= render 'themes/lewis_header' %>
  <div class="l-wrapper">
    <div class="l-content">
      <div class="list">
        <div class="item">
          <div class="title">
            <h1>#boats</h1>
          </div>
          <div class="sub-title">
            notes about boats
          </div>
        </div>
        <div class="tweets">
          <div class="tweet">
            <div class="image">
              <%= image_tag 'boat.png' %>
            </div>
            <div class="text">
              <p>
                Slow and steady wins the race.
              </p>
            </div>
            <div class="actions">
              <div class='details'><a href="" title="details">details</a></div>
              <ul class='btns'>
                <li><a href="" title=""><%= rand(360).days.ago.strftime("%B %e, %Y") %></a></li>
                <li><a href="" title="reply">reply</a></li>
                <li><a href="" title="retweet">retweet</a></li>
                <li><a href="" title="favorite">favorite</a></li>
              </ul>
            </div>
          </div>
          <div class="tweet">
            <div class="image">
              <%= image_tag '1.jpg' %>
            </div>
            <div class="text">
              <p>
                A smooth sea never made a skilled mariner.
              </p>
            </div>
            <div class="actions">
              <div class='details'><a href="" title="details">details</a></div>
              <ul class='btns'>
                <li><a href="" title=""><%= rand(360).days.ago.strftime("%B %e, %Y") %></a></li>
                <li><a href="" title="reply">reply</a></li>
                <li><a href="" title="retweet">retweet</a></li>
                <li><a href="" title="favorite">favorite</a></li>
              </ul>
            </div>
          </div>
          <div class="tweet">
            <div class="image">
              <%= image_tag '2.jpg' %>
            </div>
            <div class="text">
              <p>
                The slower that you go the greener the grass grows.
              </p>
            </div>
            <div class="actions">
              <div class='details'><a href="" title="details">details</a></div>
              <ul class='btns'>
                <li><a href="" title=""><%= rand(360).days.ago.strftime("%B %e, %Y") %></a></li>
                <li><a href="" title="reply">reply</a></li>
                <li><a href="" title="retweet">retweet</a></li>
                <li><a href="" title="favorite">favorite</a></li>
              </ul>
            </div>
          </div>
          <div class="tweet">
            <div class="image">
              <%= image_tag '3.jpg' %>
            </div>
            <div class="text">
              <p>
                He leads me beside still waters.
              </p>
            </div>
            <div class="actions">
              <div class='details'><a href="" title="details">details</a></div>
              <ul class='btns'>
                <li><a href="" title=""><%= rand(360).days.ago.strftime("%B %e, %Y") %></a></li>
                <li><a href="" title="reply">reply</a></li>
                <li><a href="" title="retweet">retweet</a></li>
                <li><a href="" title="favorite">favorite</a></li>
              </ul>
            </div>
          </div>
          <div class="tweet">
            <div class="image">
              <%= image_tag '4.jpg' %>
            </div>
            <div class="text">
              <p>
                I want to put a boat in that.
              </p>
            </div>
            <div class="actions">
              <div class='details'><a href="" title="details">details</a></div>
              <ul class='btns'>
                <li><a href="" title=""><%= rand(360).days.ago.strftime("%B %e, %Y") %></a></li>
                <li><a href="" title="reply">reply</a></li>
                <li><a href="" title="retweet">retweet</a></li>
                <li><a href="" title="favorite">favorite</a></li>
              </ul>
            </div>
          </div>
          <div class="tweet">
            <div class="image">
              <%= image_tag '5.jpg' %>
            </div>
            <div class="text">
              <p>
                A flying boat.
              </p>
            </div>
            <div class="actions">
              <div class='details'><a href="" title="details">details</a></div>
              <ul class='btns'>
                <li><a href="" title=""><%= rand(360).days.ago.strftime("%B %e, %Y") %></a></li>
                <li><a href="" title="reply">reply</a></li>
                <li><a href="" title="retweet">retweet</a></li>
                <li><a href="" title="favorite">favorite</a></li>
              </ul>
            </div>
          </div>
          <div class="tweet">
            <div class="image">
              <%= image_tag '6.jpg' %>
            </div>
            <div class="text">
              <p>
                Boats come in many shapes and sizes.
              </p>
            </div>
            <div class="actions">
              <div class='details'><a href="" title="details">details</a></div>
              <ul class='btns'>
                <li><a href="" title=""><%= rand(360).days.ago.strftime("%B %e, %Y") %></a></li>
                <li><a href="" title="reply">reply</a></li>
                <li><a href="" title="retweet">retweet</a></li>
                <li><a href="" title="favorite">favorite</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'themes/lewis_footer' %>
</div>
