<%= form_for(@fetcher) do |f| %>
  <% if @fetcher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fetcher.errors.count, "error") %> prohibited this fetcher from being saved:</h2>

      <ul>
      <% @fetcher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :username, placeholder: "ex. 'wwwoodall'" %>
  </div>
  <div class="actions">
    <%= f.submit 'view' %>
  </div>
<% end %>
