<%# TODO add a loading button %>
<p id="notice"><%= notice %></p>
<!-- _dw TODO create a greeting presenter -->
<div class="">
  <%= render partial: 'fetchers/show/banner' %>
  <div class="l-hash-wrapper">
    <%= render partial: 'fetchers/show/sidebar' %>
    <%= render partial: 'fetchers/show/content' %>
  </div>
  <%= render partial: 'fetchers/show/footer' %>
</div>
