<% if @banner.nil? %>
    <%= render partial: 'fetchers/show/banner_no_tag' %>
<% else %>
  <div class='banner'>
    <% unless @banner_image.nil? %>
    <div class="image animated fadeIn">
      <%= image_tag @banner_image %>
      <div class='username'>
        <p>
          <%= params[:id] %>
        </p>
      </div>
    </div>
    <div class="text animated short-delay fadeInDown">
      <p>
        <%= @banner_text %>
      </p>
    </div>
    <% else %>
    <div class="text-banner animated short-delay fadeIn">
      <p>
        <%= @banner_text %>
      </p>
    </div>
    <% end %>
  </div>
<% end %>
