<% if @banner.nil? %>
    <%= render partial: 'fetchers/show/banner_no_tag' %>
<% else %>
  <div class='banner'>
    <% unless @banner_image.nil? %>
    <div class="image">
      <%= image_tag @banner_image %>
      <div class='username'>
        <%= params[:id] %>
      </div>
    </div>
    <div class="text">
      <%= @banner_text %>
    </div>
    <% else %>
    <div class="text-banner">
      <%= @banner_text %>
    </div>
    <% end %>
  </div>
<% end %>
